<div class="profile">
    <div class="setting-item">
        <img src="path/to/profile-image.jpg" alt="User Profile" class="profile-image">
        <div class="icons">
            <i class="bi bi-trash"></i>
            <i class="bi bi-upload"></i>
        </div>
    </div>
    
    <div class="setting-item">
        <div class="text-container">
            <h3>Name</h3>
            <span>Safira</span>
        </div>
        <i class="bi bi-pencil icon"></i>
    </div>
    
    <div class="setting-item">
        <div class="text-container">
            <h3>Contact</h3>
            <span>safiragmail.com</span>
        </div>
            <i class="bi bi-trash icon"></i>
    </div>
    
    <div class="setting-item">
        <div class="text-container">
            <h3>Language & currency</h3>
            <span>English XAF</span>
        </div>
        <i class="bi bi-caret-down icon"></i>
    </div>
    
    <div class="setting-item">
        <div class="text-container">
            <h3>Theme</h3>
            <span>light green mood</span>
        </div>
        <i class="bi bi-caret-down icon"></i>
    </div>
    
    <div class="setting-item">
        <div class="text-container">
            <h3>Integration</h3>
            <span>No Integration</span>
        </div>
        <i class="bi bi-plus icon"></i>
    </div>
    
    <div class="setting-item">
        <div class="text-container">
            <h3>LogIn & security</h3>
            <span>Change Password</span>
        </div>
        <i class="bi bi-pencil icon"></i>
    </div>    
</div>