<app-nav-bar-layout>
    <div class="contain">
        <app-form-container
        [title]="'Create Term'"
        [formGroup]="termsForm"
        [submitButtonText]="'Save'"
        (formSubmit)="addTerm()"
        >
        <div class="mb-3">
            <label for="termt" class="form-label">{{'Terms' | translate}}</label>
            <input type="text" class="form-control" id="termName" formControlName="term">
            <div *ngIf="termsForm.get('name')?.touched && termsForm.get('name')?.invalid">
            <small class="text-danger">{{'TERM_REQUIRED' | translate}}</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="termcontext" class="form-label">{{'TERM_CONTEXT' | translate}}</label>
            <textarea class="form-control" id="termcontext" rows="3" formControlName="context"></textarea>
        </div>
        </app-form-container>
    </div>
</app-nav-bar-layout>
