.sidebar {
    width: 290px;
    background: #46B24D;
    color: white;
    height: 100vh;
    overflow-y: auto;
    align-items: center;
  }

  .container{
    height: 12%;}

  .logo{
    width: 150px;
    height: 75%;
  }
  .nav{
    width: 90%;
    p{
        margin-top: 20%;
        margin-bottom: 0;
        font-size: 14px;
        margin-left: 20px;
    }
  }

  .nav-item{
    border-radius: 10px;
    margin-top: 15%;
    gap: 8%;
    width: 100%;
  }
  .end{
    margin-top: 50%;
    }

  .nav-item:hover{
    background-color: #A2D8A6;
    .nav-link{
      color: #46B24D;
    }
  }
  .nav-link{
    color: white;
    width: 100%;
    display: flex;
    justify-content: start;
    i{
      margin-right: 20px;

    }
  }
  .active-link{
    background-color: #DAF0DB;
    .nav-link{
        color: #46B24D;
      }
  }

  @media (max-width: 1519px) {
    .sidebar {
      width: 230px;
    }
  }
  @media (max-height: 730px) {
    .end {
      margin-top: 20%;
    }
  }