<div class="sidebar d-flex flex-column p-3 text-white"
  [class.dropdown-mode]="dropdownMode"
  (clickOutside)="onClickOutside()">
    <div class="container text-center">
        <img src="/img/Logo.png" alt="Logo" class="logo">
        <hr>
    </div>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item" routerLinkActive="active-link">
        <a routerLink="/dashboard" class="nav-link">
          <i class="bi bi-house-door"></i> Dashboard
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/project']" class="nav-link">
          <i class="bi bi-folder"></i> Projects
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/organization']" class="nav-link">
          <i class="bi bi-people"></i> Organization
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a href="#" class="nav-link">
          <i class="bi bi-plug"></i> Integrations
        </a>
      </li>
      <p>Help & Support</p>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/settings']" class="nav-link">
          <i class="bi bi-gear"></i> Settings
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a href="#" class="nav-link">
          <i class="bi bi-question-circle"></i> Help Center
        </a>
      </li>

      <li class="nav-item end" routerLinkActive="active-link">
        <a href="#" class="nav-link">
          <i class="bi bi-box-arrow-left"></i> Log Out
        </a>
      </li>
    </ul>
  </div>
  