<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
      <div class="sidebar">
        <img src="/img/Logo.png" alt="Logo" class="logo">
        <button mat-button routerLink="/dashboard" class="nav-item">Dashboard</button>
        <button mat-button routerLink="/projects" class="nav-item">Projects</button>
        <button mat-button routerLink="/contributors" class="nav-item">Contributors</button>
        <button mat-button routerLink="/settings" class="nav-item">Settings</button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container> -->

  <div class="sidebar d-flex flex-column p-3 text-white">
    <div class="container text-center">
        <img src="/img/Logo.png" alt="Logo" class="logo">
        <hr>
    </div>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item" routerLinkActive="active-link">
        <a routerLink="/dashboard" class="nav-link">
          <i class="bi bi-house-door"></i> Dashboard
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/project']" class="nav-link">
          <i class="bi bi-folder"></i> Projects
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/organization']" class="nav-link">
          <i class="bi bi-people"></i> Organization
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a href="#" class="nav-link">
          <i class="bi bi-plug"></i> Integrations
        </a>
      </li>
      <p>Help & Support</p>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/settings']" class="nav-link">
          <i class="bi bi-gear"></i> Settings
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a href="#" class="nav-link">
          <i class="bi bi-question-circle"></i> Help Center
        </a>
      </li>

      <li class="nav-item end" routerLinkActive="active-link">
        <a href="#" class="nav-link">
          <i class="bi bi-box-arrow-left"></i> Log Out
        </a>
      </li>
    </ul>
  </div>
  