<div class="sidebar d-flex flex-column p-3 text-white"
  [class.dropdown-mode]="dropdownMode"
  (clickOutside)="onClickOutside()">
    <div class="container text-center">
        <img src="/img/Logo.png" alt="Logo" class="logo">
        <hr>
    </div>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item" routerLinkActive="active-link">
        <a routerLink="/dashboard" class="nav-link">
          <i class="bi bi-house-door"></i> {{'DASHBOARD' | translate}}
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/project']" class="nav-link">
          <i class="bi bi-folder"></i> {{'PROJECTS' | translate}}
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/organization']" class="nav-link">
          <i class="bi bi-people"></i> {{'ORGANIZATION' | translate}}
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/integration']" class="nav-link">
          <i class="bi bi-plug"></i> {{'INTEGRATIONS' | translate}}
        </a>
      </li>
      <p>{{'HELP_SUPPORT' | translate}}</p>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/settings']" class="nav-link">
          <i class="bi bi-gear"></i> {{'SETTINGS' | translate}}
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-link">
        <a [routerLink]="['/help-center']" class="nav-link">
          <i class="bi bi-question-circle"></i> {{'HELP_CENTER' | translate}}
        </a>
      </li>

      <li class="nav-item end" routerLinkActive="active-link">
        <a href="#" class="nav-link">
          <i class="bi bi-box-arrow-left"></i> {{'LOGOUT' | translate}}
        </a>
      </li>
    </ul>
  </div>
  