<app-auth-layout [WelcomeTitle]="'Welcome Back!'" [authTile]="'Log In To Your Account'" [linkTile]="'Sign Up'">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <app-input-field 
        label="name" 
        icon="person" 
        [control]="nameControl" 
        placeholder="yourname">
      </app-input-field>
  
      <app-input-field 
        label="Password" 
        type="password" 
        icon="lock" 
        [control]="passwordControl" 
        placeholder="yourpassword">
      </app-input-field>
  
      <button mat-button color="primary" type="submit" [disabled]="logInForm.invalid">Log In</button>
      <p *ngIf="loginError" class="error" style="color: red; font-size: 14px;">{{ loginError }}</p>
      <p>Already have an account? <a routerLink="/signup" style="color: #E98925; cursor: pointer;">Sign Up</a></p>
    </form>
</app-auth-layout>

<router-outlet></router-outlet>
