<app-auth-layout [WelcomeTitle]="'Welcome!'" [authTile]="'Create Your Account'" [linkTile]="'Log In'">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <app-input-field 
      label="User Name" 
      icon="person" 
      [control]="nameControl" 
      placeholder="Your Name">
    </app-input-field>

    <app-input-field 
      label="Email" 
      icon="email" 
      [control]="emailControl" 
      placeholder="yourmail@gmail.com">
    </app-input-field>

    <app-input-field 
      label="Password" 
      type="password" 
      icon="lock" 
      [control]="passwordControl" 
      placeholder="Strong Password">
    </app-input-field>

    <button mat-button color="primary" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
    <p *ngIf="signUpError" class="error" style="color: red; font-size: 14px;">{{ signUpError }}</p>
    <p>Already have an account? <a routerLink="/logIn" style="color: #E98925; cursor: pointer;">Log In</a></p>
  </form>
</app-auth-layout>

<router-outlet></router-outlet>