form{
    min-width: 250px;
    width: 47.6%;
}
button{
    width: 100%;
    background-color: #E98925;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 44px;
    cursor: pointer;
}
button:hover{
    background-color: #db7609;
    color: #fff;
}
p{
    font-size: 14px;
    color: #6B7280;
    margin-top: 22px;
} 
a{
    text-decoration: none;
}