<div class="billing">
    <div class="classic plan">
        <h3>Free plan</h3>
        <hr style="width: 100%; border: none; border-top: 1px solid #E3E3E3;">
        <h2>10,000XAF <br> <span>per month</span></h2>
        <ul class="billing-list">
            <li class="billing-list-element">String limit <span>10,000</span></li>
            <li class="billing-list-element">Unlimited Projects <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Unlimited Contributors<i class="bi bi-check check"></i></li>
            <li class="billing-list-element">AI translation <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Glossary <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Organization <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Integrations <i class="bi bi-x cros"></i></li>
            <li class="billing-list-element">Api Key <i class="bi bi-x cros"></i></li>
        </ul>
    </div>
    <div class="premium plan">
        <h3>Premium plan</h3>
        <hr style="width: 100%; border: none; border-top: 1px solid #E3E3E3;">
        <h2>10,000XAF <br> <span>per month</span></h2>
        <ul class="billing-list">
            <li class="billing-list-element">String limit <span>50,000</span></li>
            <li class="billing-list-element">Unlimited Projects <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Unlimited Contributors<i class="bi bi-check check"></i></li>
            <li class="billing-list-element">AI translation <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Glossary <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Organization <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Integrations <i class="bi bi-check check"></i></li>
            <li class="billing-list-element">Api Key <i class="bi bi-check check"></i></li>
        </ul>
        <button class="btn">Buy Now</button>
    </div>
</div>