<div class="roe terms-list">
    <div class="col" style="align-items: start; display: block;">
        <div class="action-button d-flex justify-content-between mb-2">
            <div class="left-side d-flex justify-content-between">
                <button class="btn">
                    <i class="fas fa-trash"></i>
                </button>
                <button class="btn">
                    <i class="fas fa-search" style="color: #46B24D;"></i>
                </button>
            </div>
            <div class="right-side">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-filter"></i> Order by
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item">Date Asc</a></li>
                        <li><a class="dropdown-item">Date Desc</a></li>
                        <li><a class="dropdown-item">Name Asc</a></li>
                        <li><a class="dropdown-item">Name Desc</a></li>
                    </ul>
                  </div>

                <!-- Add new contributor -->
                <div class="btn-group">
                  <button class="btn add-project dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-plus"></i> Add contributors
                  </button>
                  <ul class="dropdown-menu" style="width: 300px;" data-bs-auto-close="false">
                    <li>
                      <div class="px-3 py-2">
                        <label for="translationContext" class="form-label">User Email</label>
                        <input type="text" class="form-control" placeholder="Enter the User Email" [(ngModel)]="userEmail">
                      </div>
                      <div *ngIf="emailError" class="text-danger mb-3">{{ emailError }}</div>
                    </li>
                    <li>
                      <div class="px-3 py-2">
                        <label for="otherSpecifications" class="form-label">Choose a Role</label>
                        <input type="text" class="form-control" placeholder="Choose a role" [value]="selectedRole?.name" (focus)="showDropdown = true" (blur)="hideDropdown()">
                      </div>
                      <div *ngIf="roleError" class="text-danger mb-3">{{ roleError }}</div>

                      <div *ngIf="showDropdown">
                        <ul class="list-group position-absolute z-index-1 w-100">
                          <li class="list-group-item" *ngFor="let role of filteredRoles()" (click)="selectRole(role)">
                            {{ role.name }}
                          </li>
                        </ul>
                      </div>
                    </li>
                    
                    <li class="text-center button">
                      <button class="btn mt-2" style="background-color: #46B24D; color: white; width: 90%;" (click)="SaveContributor()">ADD</button>
                    </li>
                  </ul>
              </div>

            </div>
        </div>

        <table class="table text-white mb-3">
            <thead>
                <tr class="table-light">
                  <th scope="col" class="terms"><span class="badge badge-custom">{{userRoleDetails.length}} Contributors</span></th>
                  <th scope="col" class="term-title">Progress</th>
                    <th scope="col" class="term-title" style="text-align: end;">Action</th>
                </tr>
                
              </thead>
              <tbody>
                <tr *ngIf="userRoleDetails.length === 1">
                  <td colspan="4">Add your first Contributor for this project</td>
                </tr> 
                <tr class="fw-normal" *ngFor="let detail of userRoleDetails">
                  <td class="projects">
                    <span style="font-weight: bold;">{{detail.user.name}}</span>
                  </td>
                  <td class="align-middle">
                   {{ detail.role.name }}
                  </td>
                  <td class="align-middle custom-td" style="text-align: right">
                      <button type="button" class="custom-iconBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove language" (click)="deleteUserRole(detail.userRoleId)"><i
                          class="fas fa-trash-alt fa-lg text-warning"></i></button>
                  </td>
                </tr>
              </tbody>
        </table>

    </div>
</div>