<!-- <div class="roe terms-list"> -->
    <div class="col" style="align-items: start; display: block;">
        <div class="action-button d-flex justify-content-between mb-2">
            <div class="left-side d-flex justify-content-between">
                <button class="btn">
                    <i class="fas fa-trash"></i>
                </button>
                <button class="btn">
                    <i class="fas fa-search" style="color: #46B24D;"></i>
                </button>
            </div>
            <div class="right-side">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-filter"></i> Order by
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item">{{'ORDER_BY_Date_Asc' | translate}}</a></li>
                        <li><a class="dropdown-item">{{'ORDER_BY_Date_Desc' | translate}}</a></li>
                        <li><a class="dropdown-item">{{'ORDER_BY_NAME_Asc' | translate}}</a></li>
                        <li><a class="dropdown-item">{{'ORDER_BY_NAME_Desc' | translate}}</a></li>
                    </ul>
                  </div>

                <!-- Add new contributor -->
                <div class="btn-group">
                  <button class="btn add-project dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="this.showPopper = this.showPopper">
                    <i class="fas fa-plus"></i> {{'ADD_CONTRIBUTORS' | translate}}
                  </button>

                  <!-- Popper -->
                    <div *ngIf="showPopper" class="popper bg-dark text-white border rounded shadow p-3 position-absolute" style="top: 100%; left: -20%; z-index: 1050; width: 200px; border-color: #1d1d1dc7;">
                      <div class="arrow" style="position: absolute; top: -10px; left: 65px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #333;"></div>
                      <p class="mb-2">{{'NO_CONTRIBUTORS' | translate}}</p>
                    </div>

                  <ul class="dropdown-menu" style="width: 300px;" data-bs-auto-close="false">
                    <li>
                      <div class="px-3 py-2">
                        <label for="translationContext" class="form-label">{{'User_Email' | translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'Enter_User_Email' | translate}}" [(ngModel)]="userEmail">
                      </div>
                      <div *ngIf="emailError" class="text-danger mb-3">{{ emailError }}</div>
                    </li>
                    <li>
                      <div class="px-3 py-2">
                        <label for="otherSpecifications" class="form-label">Choose a Role</label>
                        <input type="text" class="form-control" placeholder="{{'Choose_Role' | translate}}" [value]="selectedRole?.name" (focus)="showDropdown = true" (blur)="hideDropdown()">
                      </div>
                      <div *ngIf="roleError" class="text-danger mb-3">{{ roleError }}</div>

                      <div *ngIf="showDropdown">
                        <ul class="list-group position-absolute z-index-1 w-100">
                          <li class="list-group-item" *ngFor="let role of filteredRoles()" (click)="selectRole(role, $event)">
                            {{ role.name }}
                          </li>
                        </ul>
                      </div>
                    </li>
                    
                    <li class="text-center button">
                      <button class="btn mt-2" style="background-color: #46B24D; color: white; width: 90%;" (click)="SaveContributor()">{{'ADD' | translate}}</button>
                    </li>
                  </ul>
              </div>

            </div>
        </div>

        <table class="table text-white mb-3">
            <thead>
                <tr class="table-light">
                  <th scope="col" class="terms"><span class="badge badge-custom">{{userRoleDetails.length}} {{'CONTRIBUTORS' | translate}}</span></th>
                  <th *ngIf="showProjectColumn" scope="col" class="term-title">{{'PROJECTS' | translate}}</th>
                  <th scope="col" class="term-title">{{'ROLE' | translate}}</th>
                  <th scope="col" class="term-title" style="text-align: end;">{{'ACTION' | translate}}</th>
                </tr>
                
              </thead>
              <tbody>
                <tr class="fw-normal" *ngFor="let detail of userRoleDetails">
                  <td class="contributors">
                    <div
                      class="initials-circle"
                      [ngStyle]="{ 'background-color': getUserColor(detail[userField]?.name) }"
                    >
                      <span>{{ getUserInitials(detail[userField]?.name) }}</span>
                    </div>
                    <span class="userName">{{detail[userField]?.name}}</span>
                  </td>
                  <td *ngIf="showProjectColumn" class="align-middle">
                    {{ detail[projectField] }}
                  </td>
                  <td class="align-middle">
                   {{ detail[roleField]?.name }}
                  </td>
                  <td class="align-middle custom-td">
                    <!-- Modification button -->
                    <button type="button" class="custom-iconBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modify contributor">
                      <i class="fas fa-edit fa-lg" style="color: rgb(37, 188, 248);"></i>
                    </button>
                    <!-- Trash button -->
                    <button type="button" class="custom-iconBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove contributor" (click)="deleteUserRole(detail.userRoleId)">
                      <i class="fas fa-trash-alt fa-lg text-warning"></i>
                    </button>
                    <!-- Messaging button -->
                    <button type="button" class="custom-iconBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Message contributor">
                      <i class="fas fa-envelope fa-lg" style="color: #46B24D;"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
        </table>
        <span class="loader" *ngIf="isLoading"></span>
    </div>
<!-- </div> -->