<app-nav-bar-layout>
    <div class="settings-cart col">
        <div class="heading">
            <h1>Settings</h1>
            <hr style="width: 100%; border: none; border-top: 1px solid #E3E3E3;">
        </div>
        <div class="side-links">
            <ul class="side-links-list">
                <li class="side-link" routerLinkActive="active-link">
                    <a routerLink="general">General</a>
                </li>
                <li class="side-link" routerLinkActive="active-link">
                    <a routerLink="billing">Billing plan</a>
                </li>
                <li class="side-link" routerLinkActive="active-link">
                    <a href="#">Notifications</a>
                </li>
                <li class="side-link" routerLinkActive="active-link">
                    <a routerLink="permissions" style="text-align: center;">User role & <br> permissions</a>
                </li>
            </ul>

            <div class="custom-card">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</app-nav-bar-layout>
