<div class="progress-circle">
    <!-- Left Half -->
    <span class="progress-left">
      <span class="progress-bar"
      [ngStyle]="{ 'border-color': borderColor }"
            [style.transform]="'rotate(' + leftRotation + 'deg)'">
      </span>
    </span>
  
    <!-- Right Half -->
    <span class="progress-right">
      <span class="progress-bar"
      [ngStyle]="{ 'border-color': borderColor }"
            [style.transform]="'rotate(' + rightRotation + 'deg)'">
      </span>
    </span>
  
    <!-- Percentage Value -->
    <div class="progress-value" [ngStyle]="{ 'color': textColor }">{{ progress }}%</div>
  </div>
  