<div class="permission">
    <div class="permission-item">
        <h3>Permissions</h3>
        <span>Update your contributors permissions.</span>
    </div>
    <div class="permission-item">
        <h2>Admin</h2>
        <app-form-check text="Can add and delete other Admins"></app-form-check>
        <app-form-check text="Can add and delete Reviewers"></app-form-check>
        <app-form-check text="Can add and delete Translators"></app-form-check>
        <app-form-check text="Can import and export files"></app-form-check>
        <app-form-check text="Can add, modify and delete terms"></app-form-check>
    </div>
    <div class="permission-item">
        <h2>Reviewer</h2>
        <app-form-check text="Can add and delete Reviewers"></app-form-check>
        <app-form-check text="Can add and delete Translators"></app-form-check>
        <app-form-check text="Can import and export files"></app-form-check>
        <app-form-check text="Can add, modify and delete terms"></app-form-check>
    </div>
    <div class="permission-item">
        <h2>Translator</h2>
        <app-form-check text="Can import and export files"></app-form-check>
        <app-form-check text="Can add, modify and delete terms"></app-form-check>
    </div>
</div>