<app-nav-bar-layout>
    <div class="page-container">
        <div class="head">
            <h4>How Can We Help You?</h4>
            <div class="input-group">
                <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
                <button class="btn px-4" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
                    <div class="card d-flex flex-column">
                        <img src="/img/help-icons/get-started.png" class="card-img" alt="Card image 1" >
                        <h5 class="card-title">Getting Started</h5>
                        <p>Learn how to set up your projects, invite collaborators, and start managing your translations in minutes.</p>
                        <a href="#" class="btn mt-4">Explore now --></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
                    <div class="card d-flex flex-column ">
                        <img src="/img/help-icons/localization-manage...png" class="card-img2" alt="Card image 2">
                        <h5 class="card-title">Managing Projects & Languages</h5>
                        <p class="card-text">Understand how to create projects, add languages, and control translation workflows for better organization.</p>
                        <a href="#" class="btn mt-2">Explore now --></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
                    <div class="card d-flex flex-column ">
                        <img src="/img/help-icons/role-permission.png" class="card-img2" alt="Card image 3">
                        <h5 class="card-title">Roles & Permissions</h5>
                        <p class="card-text">Discover how to assign roles, manage user permissions, and maintain secure access across your localization team.</p>
                        <a href="#" class="btn mt-2">Explore now --></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
                    <div class="card d-flex flex-column ">
                        <img src="/img/help-icons/import-export.png" class="card-img3" alt="Card image 4">
                        <h5 class="card-title">Importing & Exporting Translations</h5>
                        <p class="card-text">Get step-by-step guides on importing translation files, reviewing entries, and exporting your localized content.</p>
                        <a href="#" class="btn mt-2">Explore now --></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center mb-4">
                    <div class="card d-flex flex-column ">
                        <img src="/img/help-icons/faqs.png" class="card-img" alt="Card image 5" >
                        <h5 class="card-title">FAQs & Troubleshooting</h5>
                        <p class="card-text">Find answers to common questions and solutions to issues you might encounter while using the platform.</p>
                        <a href="#" class="btn mt-2">Explore now --></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-nav-bar-layout>
